In [8]:
import pandas as pd
vacations = pd.read_csv('csv/vacation.csv')
vacations.head()

,Gender,Age,Education,Income,Income2,Occupation,State,Relationship.Status,Obligation,Obligation2,...,entertainment facilities,not care about prices,life style of the local people,intense experience of nature,cosiness/familiar atmosphere,maintain unspoilt surroundings,everything organised,unspoilt nature/natural landscape,cultural offers,change of surroundings
0,Female,25,6.0,"$30,001 to $60,000",30-60k,Clerical or service worker,VIC,single,4.800000,Q4,...,no,no,no,no,no,no,no,no,no,no
1,Female,31,8.0,"$120,001 to $150,000",>120k,professional,WA,married,3.300000,Q1,...,no,no,yes,no,no,no,no,no,no,yes
2,Male,21,3.0,"$90,001 to $120,000",90-120k,NaN,NSW,single,3.400000,Q2,...,no,yes,yes,no,yes,no,no,no,yes,no
3,Female,18,2.0,"$30,001 to $60,000",30-60k,unemployed,NSW,single,2.633333,Q1,...,yes,no,no,yes,no,no,no,no,no,yes
4,Male,61,3.0,"Less than $30,000",<30k,retired,WA,married,3.400000,Q2,...,no,no,yes,no,no,yes,no,no,no,no

In [9]:
vacations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 32 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             1000 non-null   object
 1   Age                                1000 non-null   int64
 2   Education                          992 non-null    float64
 3   Income                             934 non-null    object
 4   Income2                            934 non-null    object
 5   Occupation                         941 non-null    object
 6   State                              1000 non-null   object
 7   Relationship.Status                996 non-null    object
 8   Obligation                         1000 non-null   float64
 9   Obligation2                        1000 non-null   object
 10  NEP                                1000 non-null   float64
 11  Vacation.Behaviour                 975 non-null    float64
 12  rest and relax                     1000 non-null   object
 13  luxury / be spoilt                 1000 non-null   object
 14  do sports                          1000 non-null   object
 15  excitement, a challenge            1000 non-null   object
 16  not exceed planned budget          1000 non-null   object
 17  realise creativity                 1000 non-null   object
 18  fun and entertainment              1000 non-null   object
 19  good company                       1000 non-null   object
 20  health and beauty                  1000 non-null   object
 21  free-and-easy-going                1000 non-null   object
 22  entertainment facilities           1000 non-null   object
 23  not care about prices              1000 non-null   object
 24  life style of the local people     1000 non-null   object
 25  intense experience of nature       1000 non-null   object
 26  cosiness/familiar atmosphere       1000 non-null   object
 27  maintain unspoilt surroundings     1000 non-null   object
 28  everything organised               1000 non-null   object
 29  unspoilt nature/natural landscape  1000 non-null   object
 30  cultural offers                    1000 non-null   object
 31  change of surroundings             1000 non-null   object
dtypes: float64(4), int64(1), object(27)
memory usage: 250.1+ KB

In [10]:
columns=['Gender','Age','Income','Income2'] 
from ydata_profiling import ProfileReport
df = pd.DataFrame(vacations,columns=columns)
profile = ProfileReport(df, title="EDA Austria Vacations 'Gender','Age','Income','Income2'")
profile.to_file("eda_austria_vacations.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

C:\Users\grojas123\miniconda3\envs\SegmentacionBook\Lib\site-packages\seaborn\matrix.py:260: FutureWarning: Format strings passed to MaskedConstant are ignored, but in future may error or produce different behavior
  annotation = ("{:" + self.fmt + "}").format(val)
C:\Users\grojas123\miniconda3\envs\SegmentacionBook\Lib\site-packages\ydata_profiling\model\missing.py:78: UserWarning: There was an attempt to generate the Heatmap missing values diagrams, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(missing_diagrams={"Heatmap": False}`)
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: '--'')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]